{% extends "layout.html" %}

{% block title %} 
    Change Password 
{% endblock %}

{% block body %}
<div class="dashboard">
    <h1>Change Password</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/change_password" method="post">
        <div style="margin-bottom: 15px;">
            <input name="current" placeholder="Current Password" type="password" minlength="8" autocomplete="off" required>
        </div>
        <div style="margin-bottom: 15px;">
            <input name="new" placeholder="New Password" type="password" minlength="8" autocomplete="off" required>
        </div>
        <div style="margin-bottom: 25px;">
            <input name="confirmation" placeholder="Confirm Password" type="password" minlength="8" autocomplete="off" required>
        </div>
        <button type="submit">Change Password</button>
    </form>
</div>

{% endblock %}
